<h2>使用者授權合約</h2>
<p>該應用程式及其內容以下簡稱該「應用程式」。該應用程式由 Zound Industries International AB（以下簡稱「Zound Industries」）經營。該最終使用者授權合約（以下簡稱本「合約」），包括任何更新或修改，構成了您與 Zound Industries 之間達成的關於該應用程式的合約。</p>
<h2>合約</h2>
<p>請在使用應用程式前閱讀該合約。使用該應用程式，您即被視為接受這些條款，並同意受該合約約束。</p>
<p>本合約可以隨時進行修改，而您在此類修改後繼續使用應用程式將被視為您繼續接受任何以及所有此類修改。所有修改均透過本引用併入本合約。如果您不接受，您不得使用應用程式。</p>
<p>透過接受本合約，您即證明您已經年滿 18 歲。如果您未滿 18 歲，但是至少年滿 13 歲，您必須在同意受本合約約束的父母或法定監護人的批准下，接受並使用本應用程式。如果您未能滿足這些要求，您不得使用本應用程式。</p>
<p>透過接受本合約，您還聲明和保證 (i) 您沒有處於美國政府禁運，或被美國政府指定為「支持恐怖分子的」國家內；而且 (ii) 您沒有被美國政府列入任何禁止或受限人名單內。</p>
<p>該應用程式中任何有單獨的使用者授權合約的軟體，除了本合約的條款外，還需遵守此類使用單獨使用者授權合約。</p>
<p>本合約為 Zound Industries 與您之間的合約，而 Zound Industries 僅對應用程式及其內容負責。本合約不構成任何對與您相關的協力廠商的法律義務或責任。您特此確認，根據本合約條款，Zound Industries（而非任何協力廠商）僅負責解決任何與應用程式或您對應用程式的擁有和/或使用相關的索賠，包括但不限於：(a) 產品責任索賠；(b) 任何該應用程式未能遵守任何適用法律或法規要求的聲稱；或 (c) 在消費者保護或類似立法下產生的索賠。</p>
<p>如果有任何協力廠商聲稱該應用程式或最終使用者對該應用程式的擁有或使用侵犯了該協力廠商的智慧財產權，Zound Industries，而非任何協力廠商，將全權負責調查、解決和免除任何此類智慧財產權侵犯索賠。</p>
<h2>個人資料</h2>
<p>如果您選擇向 Zound Industries 註冊以接收有關您裝置更新的資訊，您需要將特定個人資料（即您的電子郵件地址）提供給 Zound Industries。透過提供此個人資料，您即接受 Zound Industries 可依據 Zound Industries 在產品更新上適用之隱私權政策中當時有效的規定進行處理。</p>
<h2>版權；頒發授權</h2>
<p>該應用程式及其全部內容，包括但不限於其軟體、原始程式碼、指令檔、文字、插圖、相片、圖片、動畫和設計均受國家和國際版權法律和條約保護。該應用程式的所有權利和所有權屬於 Zound Industries 或由協力廠商權利持有人或任何協力廠商服務提供者，包括其下屬公司（以下簡稱「協力廠商」）授權給 Zound Industries。根據本合約，Zound Industries 向您授予有限、非獨佔性授權，允許您僅在相容的產品（以下簡稱「裝置」）上，僅為您的個人、非商業性目的而使用該應用程式。</p>
<p>該應用程式或其任何部分的權利、所有權或利益都不會轉讓或轉移給您。這是個有限的、非獨佔性授權，受以下限制約束：(a) 您不得影印、複製、散佈、傳送、執行、展示、發佈、修改、出售或以任何其他方式利用該應用程式或其任何部分，或用該應用程式或其任何部分創建衍生作品；(b) 您不得為任何競爭或商業目的而訪問或使用該應用程式，也不得修改或以其他任何方式對該應用程式或其內容進行衍生使用；(c) 您不得以「框架」、「鏡像」或任何其他方式將該應用程式的任何部分併入任何其他服務，包括但不限於任何網站或應用程式；(d) 您不得繞開、修改、破壞或回避該應用程式，或者其任意部分，或任何預期相關聯的機制的任何功能或保護；且 (e) 您僅能將該應用程式或其任何內容用於其預期目的和本合約中明確允許的目的。</p>
<p>如果出現違反本合約的情況，您必須解除安裝並停止使用該應用程式。Zound Industries 以及任何協力廠商都有權尋求可利用的且合法公正的補救措施，包括但不限於停止該應用程式的功能。如果本合約的任何部分被判無效、違法或無法執行，該條款應在允許的最大程度上執行，以保持本合約的意圖，而其他部分將保持完全有效。</p>
<h2>使用擁有受版權保護材料的應用程式</h2>
<p>您可以透過該應用程式來透過裝置或協力廠商服務存取由您和/或協力廠商創建的內容。此類內容可能受到版權、其他智慧財產權法和/或合約的保護。您同意僅在遵守適用於此類內容的法律和合約的情況下使用該應用程式。您確認並同意 Zound Industries 和任何協力廠商可以採取適當措施來保護透過應用程式而存取和使用的內容的版權。</p>
<h2>協力廠商服務和網際網路連線</h2>
<p>您確認並同意協力廠商服務的可用性，以及該應用程式對協力廠商服務的相容性均受各自協力廠商的同意的約束，而且此類協力廠商服務的可用性可能需要您與此類協力廠商之間達成單獨合約。Zound Industries 不對此類服務的可用性或任何為此類服務而支付的費用負責。</p>
<p>當您使用或存取此類協力廠商的軟體或服務時，請聯絡適用協力廠商獲取與您的個人資料相關的隱私政策。Zound Industries 不對此類協力廠商對任何個人資料的使用負責。</p>
<p>您確認並同意對應用程式和協力廠商服務的存取需要網路連線，而網路連線由您全權負責。</p>
<p>對該應用程式的使用和對協力廠商服務的存取可能會根據區域限制和/或根據您的網路連線和服務的能力、頻寬或技術限制而有限或受到限制。Zound Industries 此類網際網路連線的提供、品質和安全不負任何責任。</p>
<h2>協力廠商平台提供商和應用程式商店</h2>
<p>某些協力廠商平台提供商的裝置和/作業系統被該應用程式指定為相容裝置和/或作業系統，這些提供商責成 Zound Industries 在這些條款中包含某些附加條款。它們都列在這些條款後的協力廠商平台提供商附加條款中。這些條款來自相關協力廠商平台提供商，而非 Zound Industries 提供。</p>
<p>協力廠商應用程式商店由相關協力廠商平台提供商和/或其附屬公司營運。您必須遵守所有您下載該應用程式的任何此類協力廠商應用程式商店的所有適用服務條款、規則和政策。Zound Industries 不對這些商店或他們提供的任何東西（該應用程式除外）負責，且不保證它們將持續可用。</p>
<h2>開放源碼</h2>
<p>俗稱開放源碼軟體的軟體可能包含程式碼，這些程式碼根據眾多開放源碼授權條款的任何已知變體進行分發。在這些條款中，包括允許自由分發和修改相關軟體的開放源碼和/或要求所有分發者根據請求無償提供此類開放源碼，包括這些分發者做出的所有分發和修改（統稱「開放源碼軟體」）。請注意，以該應用套裝程式含開放源碼軟體為限，該項僅根據適用協力廠商授權方的相關授權條款（「開放源碼授權條款」）授權予您，而非依據這些條款，且您接受和同意受此類開放源碼授權條款的約束。透過應用程式可存取使用之開放源碼軟體的聲明和適用於此應用程式中使用的開放源碼軟體的開放源碼授權條款。一經要求，我們將為您提供任何應用程式中包含的任何開放源碼軟體的原始程式碼以及相關的開放源碼授權條款。</p>
<h2>更新</h2>
<p>您確認並同意 Zound Industries 和協力廠商在更新該應用程式或裝置時可以刪除或變更該應用程式或裝置的功能或其他方面，包括但不限於您可能會依賴的功能，或應用程式中或裝置上任何您已儲存的資料或預先設定。您確認並同意 Zound Industries 和協力廠商可能會在您安裝或接收此類更新後規定該應用程式或任何服務的繼續使用條款。處於本合約的目的，任何和所有更新都被視為，且應構成該應用程式的一部分。</p>
<p>您特此確認任何協力廠商均沒有義務提供任何關於該應用程式的維護和支援服務。</p>
<h2>出口和其他規定</h2>
<p>您同意遵守您所居住區域或國家內的所有適用的出口和再出口限制和規定，以及 Zound Industries 和協力廠商的限制，且不會，或授權去將該應用程式或其內容，或裝置運送、轉移、轉運、轉讓、出口或再出口，或授權將其轉讓至被禁止的國家，或以其他方式違反任何此類限制或規定。</p>
<p>作為上述內容的一個範例，該應用程式或裝置不得在任何美國商務部的出口管理局、美國財政部的外國資產控制辦公室或任何其他適用政府機構實行的出口控制法律、限制或法規禁止的國家內使用該應用程式或裝置，或將該應用程式或裝置運送、出口或再出口至任何此類國家，或以任何這些法律、限制或法規禁止的方式使用該應用程式或裝置。</p>
<h2>衡平法上的補救措施</h2>
<p>您確認並同意任何您違反或未遵守本合約的情況都可能會對 Zound Industries 或協力廠商造成無法用金錢估量的不能挽回的傷害，而且您同意 Zound Industries 和協力廠商在其認為必要或適當的情況下獲取任何禁令或平衡法上的補救措施。Zound Industries 和協力廠商也可能會採取任何法律和技術補救措施來防止違反和/或來執行被合約，包括但不限於立即終止您對該應用程式的使用（如果該方自行決定相信您正在違反或打算違反本合約）。這些補救措施構成對 Zound Industries 和協力廠商在法律上、平衡法上或根據合約規定的任何其他補救措施的補充。</p>
<h2>協力廠商受益人</h2>
<p>每個協力廠商都是本合約對該方所持權利的每個條款的明確預期協力廠商受益人，且應有權執行這些條款。</p>
<h2>對應用程式或協力廠商軟體或服務沒有保證</h2>
<p>您確認並同意您使用該應用程式和任何協力廠商軟體和服務的風險由您自行承擔，而且您對此類使用負責。該應用程式和任何協力廠商軟體和服務都是「依原樣」提供，不附帶任何形式的保證、責任或條件。</p>
<p>ZOUND INDUSTRIES 和每個協力廠商均明確表示不承擔任何明示或暗示的保證、責任或條件，包括但不限於適銷性、不侵權和該應用程式或可以透過該應用程式存取的協力廠商軟體和服務對特定用途的適用性。ZOUND INDUSTRIES 和協力廠商不保證或提出任何條件或聲明表示該應用程式、協力廠商軟體或服務，或其功能會滿足您的要求、會進行更新、會是正確的或沒有錯誤、所有缺陷都將得到糾正、不會損害任何其他軟體、硬體或資料。ZOUND INDUSTRIES 和協力廠商還不保證或提出任何條件或聲明表示透過該應用程式提供的服務不會被撤回，以及不會終止提供此類服務，導致該應用程式與此類協力廠商服務不相容，或該應用程式會在不中斷或修改的情況下營運。</p>
<p>ZOUND INDUSTRIES、任何協力廠商或其授權代表所提供的口頭或書面資訊或建議都不應創造保證、責任或條件，或以任何方式增加該保證的範圍。</p>
<p>某些法律不允許排除默示保證，因此上述排除可能不適用於您。</p>
<h2>責任範圍</h2>
<p>在適用法律允許的最大範圍內，ZOUND INDUSTRIES 和協力廠商應對因違反任何明示或默示的保證、違反合約、疏忽、嚴格責任或任何其他法律理論下與透過該應用程式存取的應用程式、軟體或服務相關的任何偶然或附帶損失概不負責，包括但不限於任何由利潤損失、收入損失、資料損失、失去對可以透過該應用程式存取的應用程式、軟體或服務的使用而造成的損失，或任何與硬體、故障時間和使用者時間相關的損失，即使他們當中有任何人已經被告知有可能會發生此類損失。</p>
<p>某些司法管轄區不允許排除或限制偶然或附帶損失，因此上述排除或限制可能不適用於您。</p>
<h2>適用法律及司法管轄區</h2>
<p>本合約應收瑞典法律管轄，不管是否與法律的規定相衝突。因為在您與 Zound Industries 之間，任何因本合約產生的爭議的唯一審判地點均應為瑞典斯德哥爾摩地方法院，而雙方特此同意接受此類法院的場地和管轄。</p>
<h2>聯絡資訊</h2>
<p>Zound Industries International AB, Centralplan 15, 111 20 Stockholm, Sweden</p>
<p>如果您有任何關於該應用程式或本合約的疑問或問題並想要聯絡 Zound Industries，請按一下此處並按照說明操作：https://www.marshallheadphones.com/marshall-bluetooth-app-support</p>
<p>本合約最後一次更新時間：2018 年 7 月 19 日。</p>
<p>__________</p>
<h2>協力廠商平台提供商的附加條款</h2>
<p>APPLE：</p>
<p>如果您下載、存取和/或使用的應用程式是在 Apple 的 iOS 作業系統上執行：</p>
<p>• 該應用程式只能在您擁有或控制，且使用 Apple 的 iOS 作業系統的裝置上存取和使用，而且只能根據 Apple 在其 App Store 服務條款中發佈的使用規則進行存取和使用。</p>
<p>• 您確認並同意：</p>
<p>o Apple 沒有任何義務向該 iOS 應用程式提供任何支援或維護服務，而且如果您有關於該 iOS 應用程式的任何維護或支援問題，請使用上述聯絡方式聯絡 Zound Industries，而非 Apple；</p>
<p>o 除了這些條款中另有明確規定外，任何與擁有或使用該應用程式相關的索賠均在您和 Zound Industries 之間進行（而不是在您，或任何其他人與 Apple 之間進行）；</p>
<p>o 如果協力廠商聲稱您擁有或使用（根據這些條款）該應用程式侵犯了任何智慧財產權，Apple 不會就該索賠對您承擔任何責任或義務；以及</p>
<p>o 雖然這些條款是在您與 Zound Industries（而不是 Apple）之間簽訂的，但根據本條款，Apple 作為協力廠商受益人將有權對您執行這些條款；</p>
<p>• 您聲明並保證：</p>
<p>o 您不是，且將不會位於任何受制於美國政府禁令的國家內，或由美國政府指定為「支持恐怖分子」的國家內；而且</p>
<p>o 您沒有在美國政府的禁止或限制方清單內；而且</p>
<p>• 如果該應用程式沒有符合任何適用於其的保證，您可以通知 Apple，隨後 Apple 會將購買該應用程式的買價（如果有）退還給您。根據該規定，在法律允許的最大範圍內，Apple 不會就該應用程式提供或訂立任何與應用相關的保證、條件或其他條款，也不會對您與該應用程式相關的任何索賠、損失、成本或任何性質的費用，或由於您或任何其他人使用該應用程式或依賴其任何內容而造成的結果負責。</p>
